.modal-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.5) !important; /* 배경을 어둡게 처리 */
  display: flex !important;
  justify-content: center !important; /* 수직 가운데 정렬을 위해 */
  align-items: center !important; /* 수평 가운데 정렬을 위해 */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 80%; /* 모달의 최대 너비 설정 */
  max-height: 80%; /* 모달의 최대 높이 설정 */
  overflow: auto; /* 내용이 넘칠 경우 스크롤 가능하도록 설정 */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-overlay p {
  margin-bottom: 0; /* 모달 내용의 아래 여백 제거 */
}