.modal_overlay {
  position: fixed;
  top: 55px;
  left: 45%;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 999;
}

.modal {
  background-color: white;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* 세로 스크롤 활성화 */
  max-height: 300px;
}

.modal-header {
  background-color: white; /* 헤더 배경을 흰색으로 유지합니다. */
  padding: 15px 0 15px; /* 헤더의 위아래 패딩을 조정합니다. */
  z-index: 1; /* 헤더가 알림 모달 내용 위에 올 수 있도록 z-index를 설정합니다. */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: 1px solid #ccc;

  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
}

.notification {
  padding: 20px 40px; /* 기존 30px에서 20px로 조정 */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5;
  white-space: nowrap;
}
